@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default, night --prefersdark;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--color-base-300);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
